<ba-card id="passwordReset" title="{{title}}" baCardClass="container">
    <form novalidate (ngSubmit)="save(form.valid)" #form="ngForm" ngForm>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="newpassword">Новый пароль</label>
            <div class="col-sm-10">
                <input [(ngModel)]="newPassword" class="form-control input-md" type="password" name="newpassword" id="newpassword" #newpassword="ngModel" placeholder="Новый пароль" minlength="4" maxlength="30" />
                <div class="alert alert-info">
                    <i class="fa fa-info"></i>
                    <span>
                        Вы можете ввести новый пароль или оставить это поле пустым. Если пароль будет пустой,
                        при следующем входе пользователю будет предложено задать новый пароль.
                    </span>
                </div>
                <div class="alert alert-danger" [hidden]="newpassword.valid || newpassword.pristine">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span *ngIf="newpassword?.errors?.minlength">Пароль должен быть не короче 4 символов</span>
                    <span *ngIf="newpassword?.errors?.maxlength">Слишком длинный пароль</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="newpassword">Повторите пароль</label>
            <div class="col-sm-10">
                <input [(ngModel)]="confirmPassword" class="form-control input-md" type="password" id="confirmPassword" name="confirmPassword" placeholder="Повторите пароль" #confPassw="ngModel" validateEqual="newpassword" /> <!-- -->
                <div class="alert alert-danger" [hidden]="confPassw.valid || confPassw.pristine">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>Пароли не совпадают</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="goBack()">Отмена</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Сохранить</button>
        </div>
    </form>
</ba-card>
