<div class="widgets">
    <ba-card baCardClass="with-scroll table-panel">
        <!--<data-filter>
            <period></period>
        </data-filter>-->
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-filter fa-fw"></i></span>
                    <input [(ngModel)]="filter" (ngModelChange)="filterData($event)" type="text" class="form-control" placeholder="Поиск по складу, номеру или названию ...">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-calendar fa-fw"></i></span>
                    <input daterangepicker
                           (selected)="dateSelected($event)"
                           [options]="pickerOptions" type="submit"
                           class="form-control btn btn-success" />
                </div>
            </div>
        </div>
        <table class="table table-striped" [mfData]="filteredDatas" #mf="mfDataTable" [mfRowsOnPage]="15">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="srcWhId">Склад</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="liniah">Линия</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="dataNakl">Дата</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nomNakl">Номер</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="imahDok">Название</mfDefaultSorter></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let row of mf.data | printFilter:filter">-->
                <tr *ngFor="let row of mf.data">
                    <td><a [tooltip]="row.srcWarehouse">{{row.srcWhId}}</a></td>
                    <td>{{row.liniah}}</td>
                    <td>{{row.dataNakl | date: 'dd.MM.yyyy'}}</td>
                    <td>{{row.nomNakl}}</td>
                    <td>{{row.imahDok}}</td>
                    <td><file-downloader *ngIf="isGranted('Documents.Print.GetFile')" 
                                        url="{{row.url}}" fileName="{{row.imahDok}}.pdf"></file-downloader></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[15,25,50]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!--<p-dataTable [value]="datas" [rows]="15" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50]">
            <p-column field="liniah" header="Линия"></p-column>
            <p-column field="dataNakl" header="Дата"></p-column>
            <p-column field="nomNakl" header="Номер"></p-column>
            <p-column field="imahDok" header="Название"></p-column>
            <p-column field="url" header="">
                <template let-col let-row="rowData">
                    <pdf-downloader url="{{row[col.field]}}" file-name="{{row['imahDok']}}.pdf"></pdf-downloader>
                </template>
            </p-column>
        </p-dataTable>-->
    </ba-card>
</div>
