@{
    ViewData["Title"] = "Пароль изменён";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был изменён. Пожалуйста, <a asp-controller="Account" asp-action="Login">нажмите здесь для входа</a>.
</p>
