<div class="widgets">
    <ba-card baCardClass="with-scroll table-panel">
        <!--<data-filter>
            <period></period>
        </data-filter>-->
        <div class="form-inline">
            <div class="form-group">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <button *ngIf="isGranted('Administration.UserManagement.CreateUser')" class="btn btn-default" (click)="showEdit()">
                            <i class="fa fa-plus-square-o fa-fw"></i> Новый
                        </button>
                        <button *ngIf="isGranted('Administration.UserManagement.UpdateUser')" class="btn btn-default" (click)="showEdit(selectedRow)" [hidden]="!selectedRow">
                            <i class="fa fa-pencil-square-o fa-fw"></i> Изменить
                        </button>
                        <button *ngIf="isGranted('Administration.UserManagement.DeleteUser')" class="btn btn-default" (click)="deleteUser(selectedRow)" [hidden]="!selectedRow">
                            <i class="fa fa-trash-o fa-fw"></i> Удалить
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button *ngIf="isGranted('Administration.UserManagement.EditRoles')" class="btn btn-default" (click)="showRoles(selectedRow)" [hidden]="!selectedRow">
                            <i class="fa fa-user-secret fa-fw"></i> Роли
                        </button>
                        <button *ngIf="isGranted('Administration.UserManagement.ResetPassword')" class="btn btn-default" (click)="resetPassword(selectedRow)" [hidden]="!selectedRow">
                            <i class="fa fa-unlock fa-fw"></i> Сброс пароля
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-filter fa-fw"></i></span>
                    <input [ngModel]="filter" (ngModelChange)="filterData($event)" type="text" class="form-control" placeholder="Поиск...">
                </div>
            </div>
        </div>
        <table class="table table-striped" [mfData]="filteredDatas" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="name">ФИО</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="userName">Логин</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="orgUnit.name">Подразделение</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="position">Должность</mfDefaultSorter></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let row of mf.data | userFilter:filter">-->
                <tr *ngFor="let row of mf.data" (click)="onRowClick($event, row)">
                    <td>{{row.name}}</td>
                    <td>{{row.userName}}</td>
                    <td>{{row.orgUnit && row.orgUnit.name}}</td>
                    <td>{{row.position}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </ba-card>
</div>
<user-edit (confirm)="userSaved($event)" (loaded)="userEditLoaded($event)"></user-edit>
<user-roles (loaded)="userRolesLoaded($event)"></user-roles>
<password-reset (loaded)="resetPasswordLoaded($event)"></password-reset>
