<section class="signin container">
    <div class="center-block text-center">
        <div class="page-header">
            <h3>Изменение пароля для {{state.user.userName}}</h3>
        </div>
        <form name="userForm" novalidate (ngSubmit)="save(userForm.value, userForm.valid)" class="row center-block" #userForm="ngForm">
            <div class="form-horizontal">
                <div class="input-group form-group" [ngClass]="{ 'has-error': (!oldPassword.valid && oldPassword.touched), 'has-success': (oldPassword.valid && oldPassword.touched) }">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-lock fa-fw"></i></span>
                    <input class="form-control" type="password" name="oldPassword" #oldPassword="ngModel" [ngModel]="model.oldPassword" placeholder="Текущий пароль" required />
                </div>
                <div class="alert alert-danger" [hidden]="oldPassword.valid || oldPassword.pristine">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span>Введите текущий пароль</span>
                </div>
                <div class="input-group form-group" [ngClass]="{ 'has-error': (!newpassword.valid && newpassword.touched), 'has-success': (newpassword.valid && newpassword.touched) }">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" name="newpassword" #newpassword="ngModel" [ngModel]="model.newPassword" placeholder="Новый пароль" minlength="4" maxlength="30" required />
                </div>
                <div class="alert alert-danger" [hidden]="newpassword.valid || newpassword.pristine">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span *ngIf="newpassword?.errors?.required">Введите новый пароль</span>
                    <span *ngIf="newpassword?.errors?.minlength">Пароль должен быть не короче 4 символов</span>
                    <span *ngIf="newpassword?.errors?.maxlength">Слишком длинный пароль</span>
                </div>
                <div class="input-group form-group" [ngClass]="{ 'has-error': (!confirmPassword.valid && confirmPassword.touched), 'has-success': (confirmPassword.valid && confirmPassword.touched) }">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-check fa-fw"></i></span>
                    <input class="form-control" type="password" name="confirmPassword" #confirmPassword="ngModel" [ngModel]="model.confirmPassword" placeholder="Повторите пароль"
                            validateEqual="newpassword" required />
                </div>
                <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>Пароли не совпадают</span>
                </div>
            </div>
            <div class="form-group modal-footer">
                <a class="btn btn-default margin-top-5" onclick="history.back();">Отмена</a>
                <input class="btn btn-primary margin-top-5" [disabled]="!userForm.form.valid" type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</section>
