.row .toolbar{
    margin: 0 0 10px;
  }
.fileupload-buttonbar{
    padding: 0.9em 0;
    background: rgba(225, 154, 249, 0.33);
  }
.table .table{
    background-color: transparent;
  }
.fileinput-button{
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
      }
  }
.file-over{
    border: dotted 3px green;
  }