<div class="btn-group" dropdown>
    <button type="button" class="btn btn-success" (click)="exportExcel()">Экспорт</button>
    <!--<button type="button" class="btn btn-success" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
    </ul>-->
</div>
