<ba-card id="userRoles" title="{{title}}" baCardClass="container">
    <select #select multiple="" size="25" style="width: 100%;">
        <option *ngFor="let role of roles" (mousedown)="onSelect($event)" [value]="role.name">
            {{role.application ? role.application+" - "+role.name : role.name}}
        </option>
    </select>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="goBack()">Отмена</button>
        <button type="submit" class="btn btn-primary" (click)="save()">Сохранить</button>
    </div>
</ba-card>
