<ba-card id="userRoles" title="{{title}}" baCardClass="container">
    <select [ngModel]="userRoles" (ngModelChange)="onChange($event)" (change)="onChange($event)" multiple="" size="5" style="width: 100%;">
        <option *ngFor="let role of roles" (mousedown)="onSelect($event)" [ngValue]="role.name">
            {{role.application ? role.application+" - " : role.name}}
        </option>
    </select>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="goBack()">Отмена</button>
        <button type="submit" class="btn btn-primary" (click)="save()">Сохранить</button>
    </div>
</ba-card>
