<div bsModal #windowModal="bs-modal" id="passwordResetModal"
     class="modal fade" aria-labelledby="mySmallModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <form novalidate class="modal-dialog" (ngSubmit)="save(mform.valid)" #mform="ngForm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <img *ngIf="icon" class="modal-icon" style="width:24px;position:relative;top:-2px;" [src]="icon" alt="" title="" />
                <h4 class="modal-title" style="display:inline-block;" id="modal-title" [innerHTML]="title" ></h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="newpassword">Новый пароль</label>
                    <div class="col-sm-10">
                        <input [(ngModel)]="model.newPassword" class="form-control input-md" type="password" name="newpassword" id="newpassword" #newpassword="ngModel" placeholder="Новый пароль" minlength="4" maxlength="30" />
                        <div class="alert alert-info">
                            <i class="fa fa-info"></i>
                            <span>Вы можете ввести новый пароль или оставить это поле пустым. Если пароль будет пустой, 
                            при следующем входе пользователю будет предложено задать новый пароль.</span>
                        </div>
                        <div class="alert alert-danger" [hidden]="newpassword.valid || newpassword.pristine">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span *ngIf="newpassword?.errors?.minlength">Пароль должен быть не короче 4 символов</span>
                            <span *ngIf="newpassword?.errors?.maxlength">Слишком длинный пароль</span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="newpassword">Повторите пароль</label>
                    <div class="col-sm-10">
                        <input [(ngModel)]="model.confirmPassword" class="form-control input-md" type="password" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Повторите пароль" validateEqual="newpassword" />
                        <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>Пароли не совпадают</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default margin-top-5" (click)="cancel()">Отмена</a>
                <input class="btn btn-primary margin-top-5" [disabled]="!mform.form.valid" type="submit" value="Сохранить" />
            </div>
        </div>
    </form>
</div>
