<div class="widgets">
    <ba-card baCardClass="with-scroll table-panel">
        <!--<data-filter>
            <period></period>
        </data-filter>-->
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-filter fa-fw"></i></span>
                    <input [ngModel]="filter" (ngModelChange)="filterData($event)" type="text" class="form-control" placeholder="Поиск по поставщику, магазину или номеру документа...">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-calendar fa-fw"></i></span>
                    <input daterangepicker
                           (selected)="dateSelected($event)"
                           [options]="pickerOptions" type="submit"
                           class="form-control btn btn-success" />
                </div>
            </div>
            <div class="form-group" style="margin: 0 16px 16px;">
                <ba-checkbox [ngModel]="unreclaimed" (ngModelChange)="unreclaimedChanged($event)" [baCheckboxClass]="'checkbox'" [label]="'Только необработанные'"></ba-checkbox>
                <!--<input [ngModel]="unreclaimed" (ngModelChange)="unreclaimedChanged($event)" type="checkbox" class="form-control"> Только необработанные-->
            </div>
        </div>
        <table class="table table-striped" [mfData]="filteredDatas" #mf="mfDataTable" [mfRowsOnPage]="15">
            <thead>
            <tr>
                <th></th>
                <th *ngIf="needShowShops">Магазин</th>
                <th><mfDefaultSorter by="srcWhId">Дата накл</mfDefaultSorter></th>
                <th><mfDefaultSorter by="liniah">№ накладной</mfDefaultSorter></th>
                <th><mfDefaultSorter by="dataNakl">Поставщик</mfDefaultSorter></th>
                <th><mfDefaultSorter by="nomNakl">Сумма</mfDefaultSorter></th>
                <th><mfDefaultSorter by="imahDok">Линия</mfDefaultSorter></th>
            </tr>
            </thead>
            <!--<tbody *ngFor="let row of mf.data">
            $1$<tr *ngFor="let row of mf.data | printFilter:filter">#1#
            <tr [mfSelectable]="row" >
                <td>{{row.docDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{row.docNum}}</td>
                <td>{{row.supplierName}}</td>
                <td>{{row.summ | number:'.2'}}</td>
                <td>{{row.liniahTip}}</td>
                <td><button (click)="showFiles(row)" class="btn btn-default">Файлы</button></td>
            </tr>
            <tr *ngIf="mf.activeRow == row">
                <td colspan="6">
                    <returns-files ></returns-files>
                </td>
            </tr>
            </tbody>-->
            <tbody>
                <template ngFor let-row [ngForOf]="mf.data" let-even="even" let-odd="odd" let-rowIndex="index">
                    <tr [mfSelectable]="row">
                        <td><a *ngIf="row.status == 10" [tooltip]="'К документу прикреплены файлы'"><i class="fa fa-file-text" aria-hidden="true"></i></a></td>
                        <td *ngIf="needShowShops">{{row.shopNum}}</td>
                        <td>{{row.docDate | date: 'dd.MM.yyyy'}}</td>
                        <td>{{row.docNum}}</td>
                        <td>{{row.supplierName}}</td>
                        <td>{{row.summ | number:'.2'}}</td>
                        <td>{{row.liniahTip}}</td>
                    </tr>
                    <tr *ngIf="mf.activeRow == row">
                        <td colspan="7">
                            <!--<returns-files [rasxod]="row" (filesChanged)="onFilesChanged($event, row)"></returns-files>-->
                            <returns-files [rasxod]="row"></returns-files>
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7">
                    <mfBootstrapPaginator [rowsOnPageSet]="[15,25,50]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
        <!--<datatable class="table table-striped"
                   [rows]="filteredDatas"
                   [options]="options"
                   (onRowClick)="onRowClick($event)">
        </datatable>
        
        <template #editFilesTmpl let-row="row" let-value="value" let-i="index">
            <button (click)="showFiles(row)" class="btn btn-default">Файлы</button>
        </template>-->
    </ba-card>
</div>
