<window-view-container heading="Документы для скачивания"
                       size="s"
                       floating="true"
                       showBackground="true"
                       panelClass="card-inverse card-primary"
                       (close)="deny()">
    <ul>
        <li *ngFor="let item of items" [value]="item.returnId">
            {{item.docNum}} <i class="fa fa-times pull-right remove-item" aria-hidden="true" (click)="removeItem(item)"></i>
        </li>
    </ul>
    <div *ngIf="items.lenght == 0">
         
    </div>
    <div class="card card-inverse card-info text-xs-center" *ngIf="items.length == 0">
        <div class="card-block">
            <p>Выберите документы, которые хоторые хотите скачать.</p>
        </div>
    </div>

    <div panel-footer class="confirm-dialog-button-set" *ngIf="!progress">
        <button class="btn btn-primary" (click)="confirm()">Скачать</button>
        <button class="btn btn-default" (click)="deny()">Отмена</button>
    </div>

    <div *ngIf="progress">
        <div class="text-xs-center" id="example-caption-2">Идёт скачивание&hellip;</div>
        <progress class="progress progress-striped progress-info progress-animated" value="100" max="100"></progress>
    </div>
</window-view-container>