<window-view-outlet></window-view-outlet>
<div class="widgets">
    <ba-card baCardClass="with-scroll table-panel">
        <!--<data-filter>
            <period></period>
        </data-filter>-->

        <div class="row">
            <div class="form-inline col-xl-9 col-lg-8 col-md-6 col-xs-12">
                <div id="shopNum-filter" class="form-group" *ngIf="needShowShops">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-hashtag fa-fw"></i></span>
                        <input [ngModel]="shopNum" (ngModelChange)="filterShopNum($event)" type="text" class="form-control" placeholder="Магазин ...">
                    </div>
                </div>
                <div id="filial-filter" class="form-group" *ngIf="needShowShops">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-share-alt-square"></i></span>
                        <select class="form-control" [ngModel]="filial" (ngModelChange)="filterFilial($event)" placeholder="Филиал ...">
                            <option value="">Все</option>
                            <option value="1">ЦФ</option>
                            <option value="2">СЗФ</option>
                            <option value="3">УФ</option>
                            <option value="4">ПФ</option>
                        </select>
                    </div>
                </div>
                <div id="date-range-filter" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-calendar fa-fw"></i></span>
                        <input daterangepicker
                               (selected)="dateSelected($event)"
                               [options]="pickerOptions" type="submit"
                               class="form-control btn btn-success" />
                    </div>
                </div>
                <div id="text-filter" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-filter fa-fw"></i></span>
                        <input [ngModel]="filter" (ngModelChange)="filterData($event)" type="text" class="form-control" placeholder="Поставщик или № накладной ...">
                    </div>
                </div>
                <div class="form-group" style="margin: 0 16px 16px;">
                    <ba-checkbox [ngModel]="unreclaimed" (ngModelChange)="unreclaimedChanged($event)" [baCheckboxClass]="'checkbox'" [label]="'Только необработанные'"></ba-checkbox>
                    <!--<input [ngModel]="unreclaimed" (ngModelChange)="unreclaimedChanged($event)" type="checkbox" class="form-control"> Только необработанные-->
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12">
                <div class="pull-right">
                    <!--<export-table class="col-xs-1" [table]="mf"></export-table>-->
                    <button type="button" class="btn btn-primary" (click)="exportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Экспорт</button>
                    <button type="button" class="btn btn-primary" [attr.disabled]="isDownloadMode ? true : null" 
                            *ngIf="isGranted('Documents.Returns.GetFile')"
                            (click)="packDownload($event)">
                        <i class="fa fa-download" aria-hidden="true"></i> Скачать
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-striped" [mfData]="datas" #mf="mfDataTable" [mfRowsOnPage]="25">
            <thead>
            <tr>
                <th></th>
                <th *ngIf="needShowShops"><mfDefaultSorter by="shopNum">Магазин</mfDefaultSorter></th>
                <th><mfDefaultSorter by="docDate">Дата накл</mfDefaultSorter></th>
                <th><mfDefaultSorter by="docNum">№ накладной</mfDefaultSorter></th>
                <th><mfDefaultSorter by="supplierName">Поставщик</mfDefaultSorter></th>
                <th><mfDefaultSorter by="summ">Сумма</mfDefaultSorter></th>
                <th><mfDefaultSorter by="liniahTip">Линия</mfDefaultSorter></th>
            </tr>
            </thead>
            <tbody>
            <template ngFor let-row [ngForOf]="mf.data" let-even="even" let-odd="odd" let-rowIndex="index">
                <tr [mfSelectable]="row" (click)="onRowClick(row)" [class.to-download]="isInDownloadItems(row)">
                    <td><a *ngIf="row.status == 10" [tooltip]="'К документу прикреплены файлы'"><i class="fa fa-file-text" aria-hidden="true"></i></a></td>
                    <td *ngIf="needShowShops">{{row.shopNum}}</td>
                    <td>{{row.docDate | date: 'dd.MM.yyyy'}}</td>
                    <td>{{row.docNum}}</td>
                    <td>{{row.supplierName}}</td>
                    <td>{{row.summ | number:'.2'}}</td>
                    <td>{{row.liniahTip}}</td>
                </tr>
                <tr *ngIf="mf.activeRow == row && !isDownloadMode">
                    <td attr.colspan="{{ needShowShops ? 7 : 6 }}">
                        <returns-files [rasxod]="row"></returns-files>
                    </td>
                </tr>
            </template>
            </tbody>
            <tfoot>
            <tr>
                <td attr.colspan="{{ needShowShops ? 7 : 6 }}">
                    <mfBootstrapPaginator [rowsOnPageSet]="[15,25,50]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </ba-card>
</div>
